body {
/*	background-image: url("images/lowcontrastbeardytree.jpg");
	background-size: cover;*/
	background: #c0dfd9;
	color: white;
	animation: fadeIn 2s;
}
/*.tester {
	font-family: Goudy;
	font-size: 40px;
}
.spinning {
	animation: pulse 1s;
}*/
.navbar {
	font-size: 8px;
	color: transparent;
  background: transparent;
  font-family: Raleway;
}

.navbar li.link-home a:hover {
	/*border-radius: 50%;*/
	background-color: #f2efe8;
	font-weight: bold;
	color: black;
}
.navbar li.link-about a:hover {
	/*border-radius: 50%;*/
	background-color: #c2d4d8;
	color: white;
}

.navbar li.link-work a:hover {
	/*border-radius: 50%;*/
	background-color: #dbe9d8;
	color: white;
}

.navbar li.link-contact a:hover {
	/*border-radius: 50%;*/
	background-color: #b0aac2;
	color: white;
}

#wordbox {
  height: 400px;
  width: 90%;
  overflow: hidden;
  background: #b3c2bf;
}
.words {
	padding-top: 1em;

}
.centerit {
	text-align: center;
}

.leftspace {
	padding-left: 1em;
}

h1 {

	text-align: center;
}
.montserrat { 
	font-family: Montserrat; 
}
p {
	padding: 1em;
	font-size: 1.3em;
	font-family: Courier New;
}



#triangle-bottomleft { 
  width: 0; 
  height: 0; 
  border-bottom: ;
  border-bottom: 600px solid #B784A7; 
  border-right: 600px solid transparent;
}

.fa { 
	font-size: 30px;

 }
 .footerbody {
 	color: #b3c2bf;
 	text-align: center;
 	margin-top: 50px;

 }
 .form-group {
 	text-align: center;
 	color: #e9ece5;
 }

.projects {
	text-align: center;
	margin-bottom: 20px;
	margin-top: 20px;
}

a {
 	color: #9fa8a3;
 }
 .dev {
	animation: rotateInDownLeft 1.5s;
}
i {
	padding: 20px;
}
.projects a {
	color: white;
	font-size: 1.5em;
}
.aboutme {
	border-radius: 50%;
}
.divider {
	color: #e3e0cf;
}

