<div class="row">
	<div id="wordbox">
		<div class="words">
			<h1 class="montserrat"><span class="ella leftspace">Ella Erickson</span><span class="divider"> | </span><span class="ella">Web Developer</span></h1>
			<div class="col-sm-6 col-sm-offset-3">	
				<p class="hello">Hello! <br> I am a Creative & Curious web developer located in Seattle and well-versed in current technologies. </p>
			</div>		
		</div>
		<div id="triangle-bottomleft">		

		</div>		
	

	</div>

</div>





								
								
								
								
