<h1 class="projects">Projects</h1>
  
<div class="row">
	<div class="projects col-md-6">
		<div class="view view-fourth turnip">
			<img src="/css/images/ltb.png" width="100%"/>
			<div class="mask">
				<h3>Lettuce Turnip the Beet</h3>
				<p>A gardening guide using Javascript, NodeJs, Express, PostgreSQL, Sequelize, jQuery, AJAX, and Cloudinary </p>
				<a class="info turnip" href="http://turnipthebeet.herokuapp.com">Check it!</a>
			</div>
		</div>
	</div>
	<div class="projects col-md-6">
		<div class="view view-fourth readme">
			<img src="/css/images/readme.png" width="100%"/>
			<div class="mask">
				<h3>ReadMe</h3>
				<p>A bookclub app built with Ruby on Rails. Join a book club!</p>
				<a class="info readme" href="http://clubreadme.herokuapp.com">Go to readme</a>
			</div>
		</div>
	</div>
</div>	
<div class="row">
	<div class="projects col-md-6">
		<div class="view view-fourth party">
			<img src="/css/images/partyhome.png" width="100%"/>
			<div class="mask">
				<h3>PartySmart</h3>
				<p>An app to promote responsible drinking, built with Javascript, MongoDB, Express, AngularJs, and NodeJs</p>
				<a class="info party" href="http://partysmart.herokuapp.com">Go There</a>
			</div>
		</div>
	</div>


	<div class="projects col-md-6">
		<div class="view view-fourth dfw">
			<img src="/css/images/dfw.png" width="100%"/>
			<div class="mask">
				<h3>DFW Fan Site</h3>
				<p>A site dedicated to David Foster Wallace and his epic Infinite Jest. Built with AngularJS</p>
				<a class="info dfw" href="http://iheartdfw.herokuapp.com">Go</a>
			</div>
		</div>
	</div>
</div>
